﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Perfil.aspx.cs" Inherits="Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Perfil</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">Rut</div><div class="col-md-6">[RUT]</div>
                        <div class="clearfix"></div><br>
                        <div class="col-md-6">Nombre Completo</div><div class="col-md-6">[NOMBRE_COMPLETO]</div>
                        <div class="clearfix"></div><br>
                        <div class="col-md-6">Email</div><div class="col-md-6">[EMAIL]</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="afterBody" Runat="Server">
</asp:Content>

