﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ServiceList.aspx.cs" Inherits="Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Titulo</th>
                <th>Categoria</th>
                <th>OP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Reparacion de Techumbres</td>
                <td>Contruccion</td>
                <td><a>Ver</a></td>
            </tr>
        </tbody>
    </table>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="afterBody" Runat="Server">
</asp:Content>

