﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Sugerencias.aspx.cs" Inherits="Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">

    <div class="row">
        <div class="col-md-6">
            <h3>Registro</h3>
        </div>
        <div class="col-md-6">
            <p>Sugerencia 1</p>
            <p>Sugerencia 2</p>
            <p>Sugerencia 3</p>
            <p>Sugerencia 4</p>
        </div>
    </div>
    <div class="breadcrumb"></div>
    <div class="row">
        <div class="col-md-6">
            <h3>Servicios</h3>
        </div>
        <div class="col-md-6">
            <p>Sugerencia 1</p>
            <p>Sugerencia 2</p>
            <p>Sugerencia 3</p>
            <p>Sugerencia 4</p>
        </div>
    </div>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="afterBody" Runat="Server">
</asp:Content>

